<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Handling Form Submission</title>
    <script type = "text/javascript" th:src="@{/lib/Chart.bundle.js}"></script>
</head>
<body>
    <div class="chart-container" style="position: relative; height:40vh; width:80vw">
    <canvas id="myChart"></canvas>
    </div>
	<script th:inline="javascript">
	var ctx = document.getElementById("myChart");
	var test = /*[[${ChartData}]]*/ null;
	var timeFormat = 'YYYY-MM-DDTHH:mm:ss';
	var myChart = new Chart(ctx, {
	    type: 'line',
	    data: test,
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:false,
	                    stepSize: 1,
	                    min: 0,
	                    max: 6
	                }
	            }],
	            xAxes: [{
					type: 'time',
					time: {
						format: timeFormat,
						// round: 'day'
						tooltipFormat: 'll HH:mm'
					},
					scaleLabel: {
						display: true,
						labelString: 'Date'
					}
				}]
	        }
	    }
	});
	</script>
</body>
</html>